<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blood Donation Information Portal</title>
    <style type="text/css">
    .mainlist{
      text-align: center;
      border: #f4f 2px solid;
      margin: 10px 500px;
      background-color: #f4f4f4;
      text-decoration-color: white;
      padding-top: 10px;
      padding-bottom: 10px;

    }
    li {
      list-style: none;
    }

    </style>
  </head>
  <body>
    <% include template\menu %>
  <div class="mainlist">
    <p>Blood Groups Are:</p>
    <ul>
      <li><a href="/users/A+">A+</a></li>
      <li><a href="/users/A-">A-</a></li>
      <li><a href="/users/B+">B+</a></li>
      <li><a href="/users/B-">B-</a></li>
      <li><a href="/users/Ab+">Ab+</a></li>
      <li><a href="/users/Ab-">Ab-</a></li>
      <li><a href="/users/O+">O+</a></li>
      <li><a href="/users/O-">O-</a></li>

    </ul>

  </div>
  </body>
</html>
