<html><body>
<center>  <sharp>BloodDonationInfoPortal</sharp>
  &nbsp&nbsp&nbsp  <a href="/">Home</a>  &nbsp&nbsp&nbsp |
  &nbsp&nbsp&nbsp  <a href="/register">Register</a>   &nbsp&nbsp&nbsp</center>
</body></html>
